:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

.section-about-us{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 6rem 7rem;
}

.section-about-us span {
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.section-about-us h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.75rem;
    letter-spacing: -2%;
    margin-bottom: 2.25rem;
}

.section-about-us p{ 
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 400;
}

.section-metricas{
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 0 7rem 6rem;
}

.section-metricas h2{
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: var(--main-color);
}

.section-metricas h4{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    padding: .75rem 0 .5rem 0;
}

.section-metricas p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);
}

@media (max-width: 1200px) {
    .section-about-us span{
        margin-bottom: 1rem;
    }

    .section-about-us h1{
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.25rem;
        margin-bottom: 1.5rem;
    }

    .section-about-us p{
        font-size: 1rem; 
        font-weight: 400;
    }

    .section-metricas{
        flex-direction: column;
    }
}