@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat&display=swap");
@import "./header.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
